{% extends 'Account_management/layout.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Account_management/css/checkout.css' %}">
{% endblock style %}


{% block main_content %}
    <div class="container-fluid p-0">
        <div class="left-column">
            <div class="header-text align-items-center">
                <h1 class=" company-name">Devs Mentoring <span>CRM</span>
                </h1>
            </div>
        </div>

        <div class="right-column">
            <p class="sign-in-title">complete your payment</p>
            <div class="back-section">
                <a href="{% url 'index' %}"><span class="back-btn"><i class="bi bi-arrow-left"></i> BACK</span></a>
            </div>
            <form action="" class="checkout-form">

                <div class="row p-0 m-0">
                    <div class="checkout-form-fields col-xs-12 col-md-7">
                        <h4>PAYMENT DETAILS</h4>
                        <p class="checkout-form-field-name p-0">
                            <label for="name">Name: <span class="req text-danger">*</span></label>
                            {{ payment_form.first_name }}
{#                            <input type="text" id="name" required>#}
                        </p>
                        <p class="checkout-form-field-last-name">
                            <label for="last-name">Last name: <span class="req text-danger">*</span></label>
                            <input type="text" id="last-name" required>
                        </p>
                        <p class="checkout-form-field-company">
                            <label for="company">Company: <span class="optional"><em>(optional)</em></span></label>
                            <input type="text" id="company">
                        </p>
                        <p class="checkout-form-field-company-nip">
                            <label for="company-nip">NIP: <span
                                    class="optional"><em>(optional - for invoice)</em></span></label>
                            <input type="text" id="company-nip">
                        </p>
                        <p class="checkout-form-field-adress">
                            <label for="adress">Adress: <span class="req text-danger">*</span></label>
                            <input type="text" id="adress" placeholder="Street and house / flat number" required>
                        </p>
                        <p class="checkout-form-field-post-code">
                            <label for="post-code">Post code: <span class="req text-danger">*</span></label>
                            <input type="text" id="post-code" required>
                        </p>
                        <p class="checkout-form-field-city">
                            <label for="city">City: <span class="req text-danger">*</span></label>
                            <input type="text" id="city" required>
                        </p>
                        <p class="checkout-form-field-phone">
                            <label for="phone">Phone: <span class="req text-danger">*</span></label>
                            <input type="tel" id="phone" required>
                        </p>
                        <p class="checkout-form-field-email">
                            <label for="email">E-mail: <span class="req text-danger">*</span></label>
                            <input type="email" id="email" class="error-input" required>
                        </p>
                        <p class="error text-danger">
                            The <span id="form-element">email</span> field is invalid
                        </p>
                        <p class="checkout-form-field-seve">
                            <label for="save">
                                <input id="save" type="checkbox" value="1"> <span>Remember the details for the next
                                    payment</span>
                            </label>
                        </p>
                        <h4>ADDITIONAL INFORMATION</h4>
                        <p class="checkout-form-field-information">
                            <label for="information">Comments to order: <span
                                    class="optional"><em>(optional)</em></span></label>
                            <textarea id="information"></textarea>
                        </p>

                    </div>

                    <div class="checkout-form-sum col-xs-12 col-md-5">
                        <h4>YOUR ORDER</h4>

                        <div class="table-wrapper">
                            <table class="checkout-form-sum-table">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <td></td>
                                    <th>Amount</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr class="cart-item">
                                    <td class="product-name">
                                        Nazwa pakietu/ścieżki
                                    </td>

                                    <td class="product-quantity">
                                        <span><span class="product-quantity">1</span> x</span>
                                    </td>

                                    <td class="product-amount">
                                        <span class="product-price-amount">800<span> zł</span></span>
                                    </td>
                                </tr>

                                </tbody>

                                <tfoot>
                                <tr class="order-total">
                                    <th>Total amount</th>
                                    <td></td>
                                    <td><strong><span class="total-price-amount">800<span> zł</span></span></strong>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <div class="payment">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <ul class="payment-methods">
                                    <li class="payment-method">
                                        <div class="accordion-item">
                                            <p class="button-in-payment" type="button" data-bs-toggle="collapse"
                                               data-bs-target="#flush-collapse1" aria-expanded="false"
                                               aria-controls="flush-collapse1">
                                                <input name="payment-method" type="radio" id="payment-method-basic"
                                                       value="1" checked><label for="payment-method-basic">Bank
                                                transfer</label>
                                            </p>
                                            <div id="flush-collapse1" class="accordion-collapse collapse show"
                                                 aria-labelledby="flush-heading1"
                                                 data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p class="payment-method-desc payment-method-basic">
                                                        Please pay directly to our bank account:<br>
                                                        66 1090 2590 0000 0001 4759 3718.<br>Please use your order
                                                        number as
                                                        the payment title.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="payment-method">
                                        <div class="accordion-item">
                                            <p class="button-in-payment" type="button" data-bs-toggle="collapse"
                                               data-bs-target="#flush-collapse2" aria-expanded="false"
                                               aria-controls="flush-collapse2">
                                                <input name="payment-method" type="radio" id="payment-method-przelewy24"
                                                       value="2"><label
                                                    for="payment-method-przelewy24">Przelewy24</label>
                                            </p>
                                            <div id="flush-collapse2" class="accordion-collapse collapse"
                                                 aria-labelledby="flush-heading2"
                                                 data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body">
                                                    <p class="payment-method-desc payment-method-przelewy24">
                                                        Pay with Przelewy24
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="complete-order">
                            <p class="information-data-procesing">
                                Your personal data will be used to process the order, facilitate the use of the website
                                and
                                other purposes described on the website: <b><a href="#">privacy policy</a></b>.
                                <!-- jeśli będzie polityka pryw to trzeba podlinkowac -->
                            </p>
                            <p class="consent-wfield">
                                <label for="regulations">
                                    <input id="regulations" type="checkbox" required>
                                    <span>I have read and accept the <b><a
                                            href="#">regulations</a></b> <span class="req text-danger">*</span></span>
                                </label>
                            </p>
                            <div class="payment-btn">
                                <button class="pay">pay</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock main_content %}

{% block script %}
    {#    <script src="{% static 'Meetings_calendar/js/calendar.js' %}"></script>#}
    {#    <script src="{% static 'Meetings_calendar/js/calendar-generator.js' %}"></script>#}
{% endblock script %}