{% extends "Account_management/layout.html" %}
{% load user_tags %}
{% load static %}


{% block style %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.10/dist/css/splide.min.css">
    <link rel="stylesheet" href="{% static 'Files_organizer/css/files-start.css' %}">
{% endblock style %}

{% block main_content %}
    <img class="icon-title" src="{% static 'Account_management/img/icon-wing.svg' %}" alt="">
    <h2 class="page-title">Programming courses</h2>
    <hr>

    <div class="files-content">

        <div class="splide">
            <div class="splide__track">

                <ul class="splide__list">
                    {% for subject in subjects %}

                        <li class="splide__slide">
                            <a href="{% url "subtopic" subject.programming_path.slug subject.slug %}"
                               id="category-link">
                                <div class="card categories mx-4 my-2 text-center">
                                    <div class="card-body glass">
                                        <h5 class="category-name">{{ subject.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </li>


                    {% endfor %}


                </ul>

            </div>
        </div>


        <div class="row themes p-0">
{#            TODO co tu wstawić?#}
            <h5 class="category-name py-2">Kategoria o przykładowym tytule</h5>

            <div class="col-sm-12 col-md-8 p-0">
                <div class="themes-box">

                    <ol class="themes-box-list">
                        {% for subtopic in subtopics %}
                            {% if request.user|has_group:"Mentor" or  request.user.is_superuser %}

                                <div class="themes-box-list-item">
                                    <li>
                                        <a href='#' onclick="getFiles('{{ subtopic.id }}');return false;"
                                           class="theme-name available">{{ subtopic.name }}
                                            <span class="theme-btn">
                                                    <i class="bi bi-caret-right-fill"></i>
                                                </span>
                                        </a>
                                    </li>
                                    <button type="button" class="share-btn" data-bs-toggle="modal"
                                            onclick="getUsersOneSubTopic('{{ subtopic.id }}');return false;"
                                            data-bs-target="#Modal"><i class="bi bi-share"></i></button>
                                </div>

                            {% elif request.user|has_access:subtopic %}
                                <div class="themes-box-list-item">
                                    <li class="themes-box-list-item">
                                        <a href="#" onclick="getFiles('{{ subtopic.id }}');return false;"
                                           class="theme-name available">{{ subtopic.name }}
                                            <span class="theme-btn">
                                                    <i class="bi bi-caret-right-fill"></i>
                                                </span>
                                        </a>
                                    </li>
                                </div>
                            {% else %}
                                <div class="themes-box-list-item">
                                    <!-- temat zablokowany musi otrzymywać na <li> klasę blocked, żeby pojawiła się kłódka.
                                        Zablokowany również nie powinien przechowywać linku w odnośniku...
                                        Zablokowany nie może posiadać klasy available w <a> żeby nie uruchamiać popup-->
                                    <li class="blocked">
                                        <a href="#" class="theme-name">{{ subtopic.name }}
                                            <span class="theme-btn">
                                                    <i class="bi bi-caret-right-fill"></i>
                                                </span>
                                        </a>
                                    </li>
                                </div>



                            {% endif %}
                        {% endfor %}
                    </ol>

                    {% if request.user|has_group:"Mentor" or  request.user.is_superuser %}
                        <div class="share-all-section">
                            <button onclick="getUsersSubject('{{ subject.id }}');return false;"
                                    type="button"
                                    class="share-all-btn" data-bs-toggle="modal"
                                    data-bs-target="#Modal2">Share all themes<i
                                    class="bi bi-share-fill"></i></button>
                        </div>
                        </div>
                        </div>

                    {% endif %}


            <div class="col-sm-12 col-md-4 p-0">
                <div class="themes-details" style="visibility: hidden">
                    <h5 class="theme-name" id="tittle"><span class="number">1.</span>Rozdział
                        przykładowy temat
                        jakiś tam
                    </h5>
                    <p class="theme-description" id="description">Lorem, ipsum dolor sit amet
                    </p>
                    <div class="files-container" id="container">
                        <p class="files-container-title">Download resources:</p>
                        <ul class="files-container-list" id='filesListContainer'>
                            <li class="files-container-list-item" id='filesList'>
                                <!-- w href umieszczamy ścieżkę do pliku na serwerze. W download podajemy nazwę pod jaką zapisze się plik (najlepiej z rozszerzeniem) -->
                            </li>

                        </ul>
                    </div>
                    <div class="back-section my-4">
                        <span class="back-btn"><i class="bi bi-arrow-left"></i> BACK</span>
                    </div>
                </div>
            </div>


            <!-- share modal -->
            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog  modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" id="ModalLabel">Share theme: <span
                                    class="theme-name" id="tittle_modal_for_one"></span>
                            </p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="shared-for-box">
                                <p>Shared for:</p>
                                <input type="text" id="search-shared-for-subtopic"
                                       class="search-shared-for"
                                       onkeyup="getSharedUsersSearchBoxSubtopic();return false;"
                                       placeholder="Search student">
                                <div class="shared-for-student-list">

                                    <ul id="shared_for_one">

                                    </ul>
                                </div>
                            </div>
                            <div class="sharing-box">
                                <p>Share:</p>
                                <input type="text" id="search-sharing-subtopic"
                                       class="search-sharing"
                                       onkeyup="GetNotSharedUsersSearchBoxSubtopic();return false;"
                                       placeholder="Search student">
                                <div class="sharing-student-list">
                                    <ul id="share_for_one">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-share-btn"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="button" class="save-share-btn" data-bs-dismiss="modal">Save</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- share all modal -->
            <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="ModalLabel2"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <p class="modal-title" id="ModalLabel2">Share all themes in: <span
                                    class="category-name" id="tittle_modal_for_subject"> </span>
                            </p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="shared-for-box">
                                <p>Shared for:</p>
                                <input type="text" id="search-shared-for-subject"
                                       class="search-shared-for"
                                       onkeyup="getSharedUsersSearchboxSubject();return false;"
                                       placeholder="Search student">
                                <div class="shared-for-student-list">
                                    <ul id="shared_for_all">

                                    </ul>
                                </div>
                            </div>
                            <div class="sharing-box">
                                <p>Share:</p>
                                <input type="text" id="search-sharing-for-subject"
                                       class="search-sharing"
                                       onkeyup="getNotSharedUsersSearchBoxSubject();return false;"
                                       placeholder="Search student">
                                <div class="sharing-student-list">
                                    <ul id="share_for_all">

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="close-share-btn"
                                    data-bs-dismiss="modal">Close
                            </button>
                            <button type="button" class="save-share-btn">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.10/dist/js/splide.min.js"></script>
    <script src="{% static 'Files_organizer/js/files.js' %}"></script>
    <script src="{% static 'Files_organizer/js/files-subtopic.js' %}"></script>
{% endblock script %}



