* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  position: relative;
  padding: 0;
}
main .icon-title {
  position: absolute;
  top: 25px;
  left: 15px;
  height: 55px;
  width: auto;
  animation: moveUp 4s linear infinite;
}
main .page-title {
  display: inline-block;
  margin-left: 70px;
  padding: 55px 15px 0;
  font-size: 20px;
  text-transform: uppercase;
}
main hr {
  background-color: #dbc110;
  opacity: 1;
  margin-left: 85px;
  width: 100px;
  margin-top: -7px;
  margin-bottom: 50px;
}
main hr:not([size]) {
  height: 4px;
}

.tasks-count {
  font-size: 1rem;
}

.progress {
  max-width: 500px;
  margin: 20px auto 40px;
}

.progress-bar {
  background-color: #dbc110;
  width: 50%;
}

.task-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #dbc110;
}
.task-tabs .task-tab button {
  width: 100%;
  margin-bottom: -3px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: #333;
  font-weight: bold;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border-color: #fff #fff #fff;
  color: #dbc110;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent transparent transparent;
  color: #dbc110;
}

.tab-content .tab-pane {
  padding-bottom: 40px;
  background: #f7f7f7;
  background: linear-gradient(to top, #f7f7f7 0%, #fff 95%);
}
.tab-content .tab-pane .task-content {
  width: 100%;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .go-to-checker,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .go-to-checker,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .go-to-checker {
  padding: 0 0 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #fff;
  color: black;
  text-decoration: none;
  box-shadow: 0px 1px 2px 0px #ccc;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .complete-box,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .complete-box,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .complete-box {
  margin: 0 10px 0 0;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .complete-circle,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .complete-circle,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .complete-circle {
  border-radius: 50%;
  border: 1px solid #dbc110;
  width: 20px;
  height: 20px;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .complete-circle.complete,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .complete-circle.complete,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .complete-circle.complete {
  background-color: #dbc110;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .task-name,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .task-name,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .task-name {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .level-color,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .level-color,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .level-color {
  text-align: right;
  height: 100%;
  width: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .level-color-easy,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .level-color-easy,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .level-color-easy {
  background: linear-gradient(to right, white 0%, #3dc700 120%);
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .level-color-medium,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .level-color-medium,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .level-color-medium {
  background: linear-gradient(to right, white 0%, #0050c7 120%);
}
.tab-content .tab-pane .task-content .easy-level .tasks-list-box .task-box .level-color-hard,
.tab-content .tab-pane .task-content .medium-level .tasks-list-box .task-box .level-color-hard,
.tab-content .tab-pane .task-content .hard-level .tasks-list-box .task-box .level-color-hard {
  background: linear-gradient(to right, white 0%, #c72800 120%);
}
.tab-content .tab-pane .task-content .level-color {
  text-align: right;
  height: 100%;
  width: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.tab-content .tab-pane .task-content .level-color-easy {
  background: linear-gradient(to right, white 0%, #3dc700 120%);
}

@keyframes moveUp {
  0% {
    top: 45px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 45px;
  }
}
@media (min-width: 576px) {
  main .page-title {
    font-size: 30px;
  }
  main hr:not([size]) {
    height: 5px;
  }

  .tasks-count {
    font-size: 1.5rem;
  }

  .task-tabs .task-tab {
    width: 30%;
  }
  .task-tabs .task-tab button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .task-tabs .task-tab {
    width: 25%;
  }
  .task-tabs .task-tab button {
    width: 100%;
  }

  .tasks-count {
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  .task-tabs .task-tab {
    width: 20%;
  }
  .task-tabs .task-tab button {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .task-tabs .task-tab {
    width: 18%;
  }
  .task-tabs .task-tab button {
    width: 100%;
  }
}

/*# sourceMappingURL=task-list.css.map */
