::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  background: #fdfdfd;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  padding: 0;
}

main .icon-title {
  position: absolute;
  top: 25px;
  left: 15px;
  height: 55px;
  width: auto;
  -webkit-animation: moveUp 4s linear infinite;
          animation: moveUp 4s linear infinite;
}

main .page-title {
  display: inline-block;
  margin-left: 70px;
  padding: 55px 15px 0;
  font-size: 20px;
  text-transform: uppercase;
}

main hr {
  background-color: #dbc110;
  opacity: 1;
  margin-left: 85px;
  width: 100px;
  margin-top: -7px;
  margin-bottom: 50px;
}

main hr:not([size]) {
  height: 4px;
}

main .files-content {
  padding: 0px 15px 30px;
}

main .files-content .row .track-header {
  margin: 20px 0 30px;
  position: 0 20px;
  text-align: center;
}

main .files-content .row .path {
  padding: 20px;
  margin: 0 auto;
}

main .files-content .row .path-btn {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 10px #666;
          box-shadow: 5px 5px 10px #666;
}

main .files-content .row .path .no-active {
  cursor: default;
}

main .files-content .row .path .no-active a {
  cursor: default;
}

main .files-content .row .path .no-active img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .files-content .row .path .no-active .path-in-progres {
  display: block;
}

main .files-content .row .path .no-active .get-started {
  color: rgba(255, 255, 255, 0.6);
}

main .files-content .row .path-img {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .files-content .row .path-img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .files-content .row .path-logo {
  height: 100px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

main .files-content .row .path-logo img {
  height: 140px;
}

main .files-content .row .path-name {
  position: absolute;
  top: 160px;
  left: 50%;
  padding: 0 20px;
  width: 100%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  color: #fff;
}

main .files-content .row .path-in-progres {
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 30%;
  padding: 5px 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  background: #dbc110;
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #dbc110), color-stop(60%, rgba(219, 193, 16, 0.6)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to right, #dbc110 20%, rgba(219, 193, 16, 0.6) 60%, rgba(0, 0, 0, 0) 100%);
}

main .files-content .row .path-about {
  position: absolute;
  top: 270px;
  width: 100%;
  padding: 0 20px;
  text-align: left;
  font-size: .9rem;
  color: #fff;
}

main .files-content .row .path .get-started {
  position: absolute;
  bottom: 15px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

main .files-content .splide__arrow--next {
  right: -.7em;
}

main .files-content .splide__arrow--prev {
  left: -.7em;
}

main .files-content .splide__slide {
  text-align: center;
  color: #fff;
}

main .files-content .splide__slide #category-link {
  text-decoration: none;
  color: #fff;
}

main .files-content .splide__slide .card {
  border: transparent;
  background-color: transparent;
  overflow: hidden;
  border-radius: 8px;
  background-color: #dbc110;
  -webkit-box-shadow: 2px 2px 5px #666;
          box-shadow: 2px 2px 5px #666;
}

main .files-content .splide__slide .card-body {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  border: none;
}

main .files-content .splide__slide .card-body .category-name {
  margin-top: 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

main .files-content .splide__slide .card-body .category-name:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

main .files-content .splide__slide .glass {
  visibility: visible;
  position: relative;
}

main .files-content .splide__slide .glass::before {
  display: block;
  position: absolute;
  overflow: hidden;
  content: '';
  -webkit-transition: .3s;
  transition: .3s;
  z-index: -1;
  top: -30px;
  left: -130px;
  width: 100px;
  height: 160%;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

main .files-content .splide__slide .glass:hover::before {
  left: 130%;
  z-index: 99;
}

main .files-content .splide__pagination {
  bottom: -30px;
}

main .files-content .splide__pagination__page.is-active {
  background: #dbc110;
}

main .files-content .themes {
  margin-top: 80px;
}

main .files-content .themes-box {
  margin: 15px;
}

main .files-content .themes-box-list {
  padding-left: 0;
}

main .files-content .themes-box-list-item {
  padding: 3px 8px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 4px;
  padding-left: 2.2rem;
}

main .files-content .themes-box-list-item li::marker {
  font-weight: bold;
}

main .files-content .themes-box-list-item li .theme-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #000;
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .files-content .themes-box-list-item li .theme-name:hover {
  color: #dbc110;
}

main .files-content .themes-box-list-item li .theme-name:focus {
  color: #dbc110;
}

main .files-content .themes-box-list-item li .theme-btn {
  padding: 5px 10px;
}

main .files-content .themes-box-list-item li.blocked::marker {
  font-weight: bold;
  content: url(../img/lock-fill.svg);
}

main .files-content .themes-box-list-item li.blocked .theme-name {
  color: #bbb;
}

main .files-content .themes-box-list-item li.blocked .theme-btn {
  padding: 5px 10px;
}

main .files-content .themes-details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  width: auto;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
}

main .files-content .themes-details .theme-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

main .files-content .themes-details .theme-name .number {
  margin-right: 10px;
}

main .files-content .themes-details .theme-description {
  margin: 30px 0;
}

main .files-content .themes-details .files-container-title {
  font-size: .9rem;
  font-weight: bold;
}

main .files-content .themes-details .files-container-list {
  list-style: none;
  padding-left: 0;
}

main .files-content .themes-details .files-container-list-item {
  padding: 3px 0;
}

main .files-content .themes-details .files-container-list-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .files-content .themes-details .files-container-list-item a:hover {
  color: #dbc110;
}

main .files-content .themes-details .files-container-list-item a i {
  font-size: 30px;
}

main .files-content .themes-details .files-container-list-item a .file-name {
  padding-left: 5px;
  font-size: .9rem;
}

main .files-content .themes-details .back-section {
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}

main .files-content .themes-details .back-section:hover {
  color: #dbc110;
}

@-webkit-keyframes moveUp {
  0% {
    top: 45px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 45px;
  }
}

@keyframes moveUp {
  0% {
    top: 45px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 45px;
  }
}

@media (min-width: 576px) {
  main .page-title {
    font-size: 30px;
  }
  main hr:not([size]) {
    height: 5px;
  }
}

@media (min-width: 768px) {
  main .files-content {
    padding: 0px 30px 30px;
  }
  main .files-content .splide__arrow--next {
    right: -1.2em;
  }
  main .files-content .splide__arrow--prev {
    left: -1.2em;
  }
  main .files-content .themes-details {
    position: unset;
    display: block;
    margin: 15px;
  }
  main .files-content .themes-details .theme-name {
    padding-top: 6px;
  }
  main .files-content .themes-details .back-section {
    display: none;
  }
}
/*# sourceMappingURL=files-start.css.map */