{% extends 'Account_management/layout.html' %}
{% load auth_extras %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'Meetings_calendar/css/calendar-style.css' %}">
{% endblock style %}

{% block main_content %}
    <img class="icon-title" src="{% static 'Account_management/img/icon-wing.svg' %}" alt="">
    <h2 class="page-title">Meeting calendar</h2>
    <hr>
    <div id="root"></div>

    <!-- MU: start: add event modal -->
    <div class="modal fade add-event" id="addEventModal" data-backdrop="static" data-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add new event:</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="selection-area">
                            <label for="add-event-date">Day:</label>
                            <input type="date" id="add-event-date" min="">
                            <label for="add-event-time">Hour:</label>
                            <input type="time" name="" id="add-event-time">
                            <label for="add-event-student">Student:</label>
                            <select id="add-event-student" onchange="studentOncChange(this)"></select>
                        </div>
                        <div class="note-area">
                            <button onclick="newMeeting()" class="save-event-btn" id="save-event-btn">Add</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- stop: add event modal -->

    <!-- MU: start: edit and delete event modal -->
    <div class="modal fade edit-event" id="editEventModal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Edit event:</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="preview-event">
                        <span class="view-time" id="note-hour"></span><span class="view-student">{% if user.is_authenticated %}{{ user.first_name }} {{ user.last_name }}{% endif %}</span>
                        <textarea class="view-note" id="view-note" rows="5" disabled="disabled"></textarea>
                        <button onclick="edit_Note(this.id)" class="edit-event-btn">Edit</button>
                    </div>


                    <form class="editing-form">
                        {% if request.user|has_group:"Mentor" %}
                        <div class="selection-area">
                            <label for="edit-event-date">Day:</label>
                            <input type="date" id="edit-event-date" min="">
                            <label for="edit-event-time">Hour:</label>
                            <input type="time" name="" id="edit-event-time">
                            <label for="edit-event-student">Student:</label>
                            <select id="edit-event-student" onchange="studentOncChange(this)"></select>
                        </div>
                        {% endif %}
                        <div class="note-area">
                            <div class="note">
                                <label for="edit-event-note">Note:</label>
                                <textarea id="edit-event-note" cols="" rows="5"></textarea>
                            </div>
                            <div class="control-buttons">
                                <button class="edit-cancel-event-btn" id="edit-cancel-event-btn" data-bs-dismiss="modal">
                                    Cancel
                                </button>
                                <button onclick="saveNote()" class="edit-save-event-btn" id="edit-save-event-btn">Save</button>
                            </div>

                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <span id="delete-event-txt"></span>
                    <button type="button" onclick="deleteEvent(this.value)" class="delete-event-btn" id="delete-event-btn"><i
                            class="bi bi-trash-fill"></i></button>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block script %}
    <script src="{% static 'Meetings_calendar/js/calendar.js' %}"></script>
    <script src="{% static 'Meetings_calendar/js/calendar-generator.js' %}"></script>
    {% if request.user|has_group:"Mentor" %}
        <script>sessionStorage.setItem("isMentor", 'true');</script>
        <script>sessionStorage.setItem("userId", "{{ user.id }}");</script>
        <script>sessionStorage.setItem("mentorId", "{{ user.mentor.id }}");</script>
    {% else %}
        <script>sessionStorage.setItem("isMentor", 'false');</script>
        <script>sessionStorage.setItem("userId", "{{ user.id }}");</script>
        <script>sessionStorage.setItem("mentorId", "{{ user.student.id }}");</script>
    {% endif %}
{% endblock script %}




